package %__PACKAGE_NAME__%

import androidx.lifecycle.viewModelScope
import com.iamkurtgoz.core.common.state.AppBuildConfigStatePack
import com.iamkurtgoz.core.common.state.AppRemoteConfigStatePack
import com.iamkurtgoz.domain.core.CoreViewModel
import dagger.hilt.android.lifecycle.HiltViewModel
import kotlinx.coroutines.launch
import javax.inject.Inject

@HiltViewModel
internal class %__SCREEN_NAME__%ViewModel @Inject constructor(
    appBuildConfigStatePack: AppBuildConfigStatePack,
    appRemoteConfigStatePack: AppRemoteConfigStatePack,
) : CoreViewModel<%__SCREEN_NAME__%ScreenContract.State, %__SCREEN_NAME__%ScreenContract.SideEffect, %__SCREEN_NAME__%ScreenContract.Event>(
    initialState = %__SCREEN_NAME__%ScreenContract.State(
        isLoading = false,
        appBuildConfigStatePack = appBuildConfigStatePack,
        appRemoteConfigStatePack = appRemoteConfigStatePack,
    ),
) {
    override fun setEvent(event: %__SCREEN_NAME__%ScreenContract.Event) {
        when (event) {
            is %__SCREEN_NAME__%ScreenContract.Event.Initialize -> handleOneTimeEvent(event, ::initialize)
            is %__SCREEN_NAME__%ScreenContract.Event.NavigateUp -> setSideEffect(%__SCREEN_NAME__%ScreenContract.SideEffect.NavigateUp)
            is %__SCREEN_NAME__%ScreenContract.Event.PopBackStack -> setSideEffect(%__SCREEN_NAME__%ScreenContract.SideEffect.PopBackStack)
            is %__SCREEN_NAME__%ScreenContract.Event.DismissDialogs -> dismissDialogs()
        }
    }

    // Events functions
    private fun initialize() = viewModelScope.launch { }

    private fun dismissDialogs() {
        updateState { it.copy(alertDialogModel = null) }
    }
}
