package %__PACKAGE_NAME__%.navigation

import androidx.navigation.NavController
import androidx.navigation.NavGraphBuilder
import androidx.navigation.NavOptions
import androidx.navigation.compose.composable
import %__PACKAGE_NAME__%.%__SCREEN_NAME__%Screen
import com.iamkurtgoz.core.navigation.%__SCREEN_NAME__%ScreenRoute

fun NavGraphBuilder.%__SCREEN_NAME_START_SMALL_CHARS__%ScreenNavigation(
    navigateUp: () -> Unit,
    popBackStack: () -> Unit,
) {
    composable<%__SCREEN_NAME__%ScreenRoute> {
        %__SCREEN_NAME__%Screen(
            navigateUp = navigateUp,
            popBackStack = popBackStack,
        )
    }
}

fun NavController.navigateTo%__SCREEN_NAME__%Screen(navOptions: NavOptions? = null) {
    val route = %__SCREEN_NAME__%ScreenRoute
    this.navigate(route, navOptions)
}
